body{
font-family: 'Bai Jamjuree', sans-serif;
font-size:18px;
background-image:url("images/bg-header-desktop.png");
background-repeat: no-repeat;
background-size: auto;
background-repeat:no-repeat;
margin:0px;
padding:0px;}

h1,h3{
font-weight:600;
margin-bottom:0px;
padding-top:0px;}


p{
font-weight:400;
line-height:1.25;
color:hsl(201, 11%, 66%);}

.container{
margin-top:65px;
margin-bottom:30px;
height:100vh;
}


.header{
display:flex;
flex-direction:column;
align-items:center;
padding-top:50px


}

.header >h1{
margin-top:65px;

}

.hd1{
text-align:center;
margin-bottom:30px;
}

input{
margin:50px 0px 20px 10px;
padding:10px;
border-radius:50px;
margin:1vw;
width:200px;
height:50px;
color:white;
border:0px;


}

.b1{
background:hsl(171, 66%, 44%);
}

.b1:hover {
  box-shadow: 0 2px 20px 5px hsl(171, 66%, 44%);
}


.b2{
background:hsl(233, 100%, 69%);
}

.b2:hover {
  box-shadow:  0 2px 20px 5px hsl(233, 100%, 69%);
}

.hd2{
display:flex;
margin-bottom:30px;
}



/*MAIN*/

.main{

}

.main1{
text-align:center;
margin-top:75px;}


/*MAIN2*/
/*

.main2{
margin-top:100px;
display:flex;
justify-content:space-between;
}

.main2 > div:nth-child(1){
transform:translate(-10%);
}


.main2 > div:nth-child(2){
transform:translate(-40%,13%);
line-height:1.5;
}


*/




.main2{
margin-top:100px;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
grid-auto-rows:400xp 400px;
grid-gap:100px;
}

.m2i{
width:100%;
height:100%;
object-fit:contain;
}


.main2 > div:nth-child(1){
transform:translate(-10%,10%);

}

.main2 > div:nth-child(2){
display:flex;
flex-direction:column;
justify-content:stretch;
transform:translate(-10%,10%);
}

/*MAIN 3*/
/*
.main3{
margin-top:100px;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.main3 > div:nth-child(1){
text-align:Center;
margin-bottom:50px;
}

*/

.main3{
margin-top:150px;
display:grid;
grid-template-rows:repeat(auto-fit,minmax(100px,1fr));
place-items:center;
grid-gap:0px;
}

.main3 >div:nth-child(1){
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
grid-row:1/2;
text-align:center;

}
.mp3{
align-self:center;
width:100vw;
height:100vh;
object-fit:contain;
}

.main3 >div:nth-child(2){
grid-row:2/3;
}

.m3i{
width:100%;
height:100%;
object-fit:contain;
}
/*FOOTER*/
.footer{

width:100vw;
}

.footer1{
display:flex;
flex-direction:column;
justify-content:center;
align-items:Center;
text-align:center;
margin-top:100px;
}

.footer2{
display:flex;
justify-content:space-around;
align-items:Center;
text-align:center;
margin-bottom:100px;
margin-top:50px;
}

.footer2 > div {
display:flex;
flex-direction:column;
justify-content:Center;
align-items:center;
text-align:center;

}

.footer3{

display:flex;
justify-content: space-evenly;
margin-bottom:100px;
margin-top:100px;}

.footer4{
margin-top:100px;
margin-bottom:100px;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;}

.footer5{
display:flex;
justify-content:space-around;
padding-bottom:0px;
background-color:hsl(201, 11%, 66%,0.1);
}


.l1{
display:flex;
flex-direction:row;
justify-content:space-around;
}

.l2{
display:flex;
flex-direction:row;
justify-content:start;
}

.l1>p{
padding:20px;
}


.l1 > p:nth-child(n):hover{
color:hsl(171, 66%, 44%);
}


.l2>p{
padding:0px 20px 0px 20px;
margin-top:0px;
}
.l2 > p:nth-child(n):hover{
color:hsl(171, 66%, 44%);
}


.socials{
display:flex;
align-items:center;
}

.socials > svg:nth-child(n){
padding:5px;

}

@media screen and (max-width:1040px){
    body{padding:0px;}
    .main2{
        margin-top:100px;
        display:grid;
        grid-template-columns:repeat(auto-fit,minmax(500px,1fr));
        grid-gap:20px;
        place-items:center;}

    .main2 > div:nth-child(1){
        transform:translate(0%,0%);
        display:flex;
        justify-content:center;
        align-items:center;}


    .main2 > div:nth-child(2){
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:center;
            text-align:center;
            transform:translate(0%,0%);
            }


}

@media screen and (max-width: 815px){


    .header{
    text-align:center;}

    .hd1{
    text-align:center;}

    .hd2{
    flex-direction:column;}

    .main2{
    margin-top:100px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(400px,1fr));
    grid-gap:0px;}

    .main2 > div:nth-child(1){
    transform:translate(0%);
    display:flex;
    justify-content:center;
    align-items:center;}


    .right{
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:center;
            text-align:center;
            transform:translate(0%,0%);}

    .main3{
            margin-top:50px;
            display:grid;
            grid-template-columns:repeat(auto-fit,minmax(400px,1fr));
            place-items:Center;}

    .top{
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:Center;}

    .footer1{
           text-align:center;
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:Center;}

    .footer2{
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:center;
            text-align:center;
            margin:0 5px 0 5px;}

    .footer3{
            margin:0px;
            height:400px;
            display:flex;
            flex-direction:column;
            justify-content:space-evenly;
            align-items:center;}


    .footer4 > div{
            display:flex;
            flex-direction:column;
            align-items:center;
            justify-content:center;
            text-align:center;}

    .footer5{
            margin:0px;
            display:flex;
            flex-direction:column;
            align-items:center;}
    .l1{
            display:flex;
            flex-direction:column;
            padding:0px;
            align-items:center;
            justify-content:center;
            margin:0px;}

    .l2{
            display:flex;
            flex-direction:column;
            align-items:center;
            justify-content:center;}

    .l1>p{padding:10px;margin:5px;}
    .l2>p{padding:10px;margin:5px;}
    .socials > svg{
            margin:15px;}

}


@media screen and (max-width:375px){

body{
    margin:10px;
    background-image:url("images/bg-header-mobile.png")
    }
}